/* ----- Google Fonts ----- */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* ----- CSS Reset ----- */
@import 'css-reset';

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #e1e1e1;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}

.key {
  border: 0.1rem solid #999;
  background-color: #eee;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  display: inline-flex;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  flex-direction: column;
  margin: 1rem;
  min-width: 15rem;
  position: relative;

  small {
    position: absolute;
    top: -2.4rem;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 1.4rem;
  }
}
